In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [6]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()

for i in tickers:
    sec_data[i] = yf.download(i, start='2007-1-1')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
sec_data.tail()

                    PG      BEI.DE
Date
2023-02-13  140.070007  112.199997
2023-02-14  139.279999  112.949997
2023-02-15  138.960007  112.949997
2023-02-16  137.139999  113.550003
2023-02-17  140.009995  113.199997

In [8]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2023-02-13  0.013006  0.018894
2023-02-14 -0.005656  0.006662
2023-02-15 -0.002300  0.000000
2023-02-16 -0.013184  0.005298
2023-02-17  0.020712 -0.003087

[4061 rows x 2 columns]

## PG

In [9]:
sec_returns['PG'].mean()

0.00030655966716341986

In [10]:
sec_returns['PG'].mean() * 250

0.07663991679085497

In [11]:
sec_returns['PG'].std()

0.011852738010189622

In [12]:
sec_returns['PG'].std() * 250 ** 0.5

0.18740824310725623

## Beiersdorf

In [13]:
sec_returns['BEI.DE'].mean()

0.00023652752050532883

In [14]:
sec_returns['BEI.DE'].mean() * 250

0.059131880126332206

In [15]:
sec_returns['BEI.DE'].std()

0.013772812909344156

In [16]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21776729290448843

## Comparing the two

In [17]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.076640
BEI.DE    0.059132
dtype: float64

In [18]:
sec_returns[['PG', 'BEI.DE']].std() * 250

PG        2.963185
BEI.DE    3.443203
dtype: float64

## Covariance and Correlation

In [19]:
PG_var = sec_returns['PG'].var()
PG_var

0.00014048739833819385

In [20]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00018969037543579702

In [21]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03512184958454846

In [22]:
BEI_var = sec_returns['BEI.DE'].var() * 250
BEI_var

0.04742259385894925

In [23]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000140  0.000044
BEI.DE  0.000044  0.000190

In [24]:
cov_matrix = sec_returns.cov() * 250
cov_matrix

              PG    BEI.DE
PG      0.035122  0.010997
BEI.DE  0.010997  0.047423

Correlation of returns reflects the dependence between prices at different times and focuses on the returns of the portfolios, wheras correlation of prices focuses on the stock price levels.

In [25]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.268967
BEI.DE  0.268967  1.000000

##