In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yfinance

In [6]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()

for i in tickers:
    sec_data[i] = yf.download(i, start='2007-1-1')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
sec_data.tail()

                    PG      BEI.DE
Date
2023-02-13  140.070007  112.199997
2023-02-14  139.279999  112.949997
2023-02-15  138.960007  112.949997
2023-02-16  137.139999  113.550003
2023-02-17  140.009995  113.199997

In [8]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002518 -0.022858
...              ...       ...
2023-02-13  0.013006  0.018894
2023-02-14 -0.005656  0.006662
2023-02-15 -0.002300  0.000000
2023-02-16 -0.013184  0.005298
2023-02-17  0.020712 -0.003087

[4061 rows x 2 columns]

## PG

In [9]:
sec_returns['PG'].mean()

0.00030655969046105945

In [10]:
sec_returns['PG'].mean() * 250

0.07663992261526487

In [15]:
sec_returns['PG'].std()

0.011852726295662992

In [12]:
sec_returns['PG'].std() * 250 ** 0.5

0.18740805788432693

## Beiersdorf

In [13]:
sec_returns['BEI.DE'].mean()

0.0002365278020157277

In [14]:
sec_returns['BEI.DE'].mean() * 250

0.05913195050393193

In [16]:
sec_returns['BEI.DE'].std()

0.013772814588247393

In [18]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21776731945027944

## Comparing the two

In [19]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.076640
BEI.DE    0.059132
dtype: float64

In [ ]:
sec_returns[['PG', 'BEI.DE']].std() * 250why